{% assign link_url = include.url | downcase %}
{% assign icon_key = 'default' %}
{% if link_url contains 'gadzety' %}
  {% assign icon_key = 'gadzety' %}
{% elsif link_url contains 'media-cyfrowe' %}
  {% assign icon_key = 'media' %}
{% elsif link_url contains 'odziez' %}
  {% assign icon_key = 'odziez' %}
{% elsif link_url contains 'oklejanie-pojazdow' %}
  {% assign icon_key = 'pojazdy' %}
{% elsif link_url contains 'poligrafia' %}
  {% assign icon_key = 'poligrafia' %}
{% elsif link_url contains 'reklama-zewnetrzna' or link_url contains 'reklama-wizualna' %}
  {% assign icon_key = 'reklama' %}
{% elsif link_url contains 'slodycze' %}
  {% assign icon_key = 'slodycze' %}
{% elsif link_url contains 'tworzenie-marki' %}
  {% assign icon_key = 'marka' %}
{% endif %}
<span class="menu-subnav-icon" aria-hidden="true">
  <span class="menu-dot"></span>
</span>
